<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <!--ngDefaultControl fixes problem: ERROR Error: No value accessor for form control with unspecified name attribute-->
      <input type="text" class="form-control" [(ngModel)]="hero.name" ngDefaultControl placeholder="name"/>
    </label>
  </div>
  <div>
    <label>title:
      <input type="text" class="form-control" [(ngModel)]="hero.title" ngDefaultControl placeholder="title"/>
    </label>
  </div>
  <div>
    <label>Current image
      <img src="{{hero.image || 'assets/images/default.jpg'}}" [(ngModel)]="hero.image" ngDefaultControl alt="current image of {{hero.name}}"/>
    </label>
  </div>
  <div>
    <label>Change image
      <span>Select Image</span>
      <input #imageInput
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)">
    </label>
  </div>
  <button type="button" class="btn btn-success" (click)="updateHero(hero)">Update</button> <button type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
</div>
