<ul class="row">
  <li *ngFor="let hero of heroes" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <div>
          <h3>{{hero.name}}</h3>
          <p>{{hero.title}}</p>
          <p><a routerLink="/detail/{{hero.id}}" class="btn btn-primary" role="button">Update</a>
            <a role="button" class="btn btn-default" (click)="deleteHero(hero)">Delete</a></p>
        </div>
        <div>
          <img src="{{hero.image || 'assets/images/default.jpg'}}" alt="hero {{hero.name}}"/>
        </div>
      </div>
    </div>
  </li>
</ul>

